<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @user.following_users.any? %>
      <h3>followings (<%= @user.following_users.count %>)</h3>
      <ol class="following_users">
        <%= render partial: 'following_users/following_user', collection: @following_users %>
      </ol>
    <% end %>
  </div>
</div>